{% extends 'user/header.html' %}
{% load static %}
{% block content %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-Lu0p/xzPpZit3GS/+O0TlT7gj1b6QoCIr2YGvh5YpHEPLvR4jKlWjVO8WaCpVL5h" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Vy/0R1PLz7jsBdj0Dz+6Bh6GjyO0v8e/1Q" crossorigin="anonymous"></script>

<div class="section">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <div class="shiping-details">
                    <div class="section-title">
                        <h3 class="title">Edit Education Details</h3>
                    </div>
                    <div class="caption">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="level">Level of Education:</label>
                                <select class="form-control" id="level" name="level">
                                    {% for choice in education.LEVEL_CHOICES %}
                                        <option value="{{ choice.0 }}" {% if choice.0 == education.level %} selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="school_or_university">School or University:</label>
                                <input class="form-control" type="text" id="school_or_university" name="school_or_university" value="{{ education.school_or_university }}">
                            </div>
                            <div class="form-group">
                                <label for="course">Course:</label>
                                <input class="form-control" type="text" id="course" name="course" value="{{ education.course }}">
                            </div>
                            <div class="form-group">
                                <label for="start_date">Start Date:</label>
                                <input class="form-control" type="date" id="start_date" name="start_date" value="{{ education.start_date|date:"Y-m-d"  }}">
                            </div>
                            <div class="form-group">
                                <label for="end_date">End Date:</label>
                                <input class="form-control" type="date" id="end_date" name="end_date" value="{{ education.end_date|date:"Y-m-d"  }}">
                            </div>
                         
                            
                            <div class="form-group">
                                <label for="additional_details">Additional Details:</label>
                                <textarea class="form-control" id="additional_details" name="additional_details" rows="3">{{ education.additional_details }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control {
        width: 100%;
    }
</style>
{% endblock %}
